#submit {
    border: 2px solid; 
    margin-left:250px; 
    margin-right:250px; 
    top:30px;
}
#age {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#gender {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#center {
    text-align: center;
    margin-left:200px; 
    margin-right:200px; 
}
.left{
    text-align: left;
}
