#submit {
    border: 2px solid; 
    margin-left:250px; 
    margin-right:250px; 
    top:30px;
}
#age {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#gender {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#chicken {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#whatcolor {
    border: 2px solid; 
    background-color: rgb(220, 216, 216); 
}
#center {
    text-align: center;
    margin-left:200px; 
    margin-right:200px; 
}
.left{
    text-align: left;
}
.alien {
    width : 20%;
    height : 20%;
    margin-left: -106px;
}
.header{
    font-size: 20px;
    margin-left: 250px;
    vertical-align: top;
    text-align: center;
}
.points{
    text-align: center; 
    width : 70%; 
    height: 10px;
}
